.feynman__title {
    width: 648px;
    font-size: 120px;
    font-weight: 600;
    line-height: 1.15;
    text-align: center;
    padding-top: 100px;
    z-index: 3;
    margin: 0 auto 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }