.feynman__link {
    display: flex;
    position: absolute;
    right: 48px;
    top: 50.2%;
    flex-direction: column;
    margin: auto;
    font-size: 36px;
    line-height: 51px;
    z-index: 3;
    text-decoration: none;
    color: #2f80ed;
  }