.feynman__link {
  display: flex;
  position: absolute;
  right: 48px;
  top: 50.2%;
  flex-direction: column;
  margin: auto;
  font-size: 36px;
  line-height: 51px;
  z-index: 3;
  text-decoration: none;
  color: #2f80ed;
  }

.feynman__link:hover {
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
}
