.header {
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    padding-left: 64px;
    background-color: #f2f2f2;
    overflow: hidden;
  }