.kaufman__triangle {
  background-image: url("../../../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
  overflow: hidden;
}
