.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, table {
  margin: 0;
}

a {
  text-decoration: none;
  color: #2f80ed;
}

h1 {
  font-weight: 600;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  font-weight: normal;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding-left: 64px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
}

.description {
  display: flex;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
  /*border: 2px solid blue;*/
  margin: 100px auto;
}

.two-columns__brief {
  display: flex;
  align-items: flex-start;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph {
   margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.header__title{
  position: absolute;
  font-size: 102px;
  line-height: 96px;
  z-index: 2;
  min-width: 730px;
  width: 100%;
}

.header__logo_position_top {
  width: 183px;
  height: 32px;
  background-image: url('../images/logo_place_header.svg');
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__main-illustration{
  background-image: url('../images/header-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index:3;
}



.span-accent {
  font-weight: 600;
}

.digits {
  margin: 100px auto;
}

.section-title {
  display: flex;
  justify-content: center;
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  margin: 0 auto 20px auto;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
}

.section-title_color_dark {
  padding-top: 90px;
  color: #fff;
}

.section-subtitle_color_dark {
  color: #fff;
}

.table {
  display: flex;
  z-index: 3;
}

.table__body {
  width: 1100px;
  margin: auto;
  z-index: 3;
}

.table__body_theme_dark {

}

.table__row {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.table__row_theme_dark {
  margin-top: 80px;
}

.table__cell {
  width: 250px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
}

.section-title {

}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
}

.feynman {
  background-color: #f2f2f2;
  min-height: 867px;
  position: relative;
  z-index: 1;
}

.feynman__headers {
  position: absolute;
  padding-top: 100px;
  z-index: 3;
  margin: 0 auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 70px;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  display: flex;
  position: absolute;
  right: 48px;
  top: 51.45%;
  flex-direction: column;
  margin: auto;
  font-size: 36px;
  line-height: 51px;
}

.feynman__link:hover {
  color: blue;
}

.feynman__photo {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: -210px;
  bottom: 0;
  width: 877px;
  height: 877px;
  z-index: 0;
  overflow: hidden;
}

.table__theme_dark {
  color: #fff;
  padding-bottom: 90px;
}

div {
  border: 1px solid red;
}
