.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding-left: 64px;
  background-color: #f2f2f2;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto;
}

.two-columns__brief {
  display: flex;
  align-items: flex-start;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.header__title{
  font-size: 102px;
  max-width: 730px;
  font-weight: 600;
  line-height: 96px;
  margin: 0;
  z-index: 2;
}

.logo_place_header {
  position: absolute;
  z-index: 3;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
  background-image: url('../images/logo_place_header.svg');
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
  height: 35px;
  z-index: 3;
  width: 183px;
}

.header__main-illustration{
  background-image: url('../images/header-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  line-height: 25px;
  font-weight: normal;
  z-index:3;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin: 100px auto;
}

.section-title {
  font-size: 60px;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto 20px auto;
}

.section-subtitle {
  display: flex;
  width: 60%;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  z-index: 1;
}

.section-title_theme_dark {
  padding-top: 90px;
  z-index: 1;
  color: #fff;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.table {
  width: 1100px;
  margin: 0 auto 100px;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}


.table_theme_dark {
  color: #fff;
  z-index: 1;
  margin: 0 auto 90px auto;
}

.table__row_theme_dark {
  margin-top: 80px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0 0;
  z-index: 1;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.table__text {
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.table__text:last-of-type {
  margin-bottom: 0;
}

.feynman {
  background-color: #f2f2f2;
  min-height: 890px;
  position: relative;
  z-index: 1;
}

.feynman__title {
  width: 648px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  padding-top: 100px;
  z-index: 3;
  margin: 0 auto 70px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.feynman__link {
  display: flex;
  position: absolute;
  right: 48px;
  top: 50.2%;
  flex-direction: column;
  margin: auto;
  font-size: 36px;
  line-height: 51px;
  z-index: 3;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link:hover {
  cursor: alias;
  color: blue;
}

.feynman__photo {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  box-sizing: border-box;
  color: white;
  padding: 60px 0 40px 0;
  min-height: 350px;
}

.footer__column-heading {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 600;
  line-height: 30px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  margin: 18px 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.footer__column-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  line-height: 30px;
  color: white;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

div, p, h2, section {
  outline: 1px solid red;
}
